#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 35px;
}

h1, h2, h3, p {
  margin: 10px;
}

.mainHeading {
  font-size: 75px;
  letter-spacing: 3px;
  margin: 0;
}

.mainSubtitle {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  font-family: wbf2;
  margin-top: 10px;
  margin-bottom: 25px;
}

textarea {
  resize: none;
  font-size: 17px;
}

#enterUpdate {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#postUpdate {
  margin-top: 10px;
  margin-bottom: 10px;
}

.windowOnTop {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}