html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
  interpolate-size: allow-keywords;
}

#app, .adminPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 10px;
}

.mainSubtitle {
  font-weight: 500;
  font-size: 30px;
  margin: 5px 0 15px 0;
  font-family: wbf2;
}

textarea {
  resize: none;
  font-size: 17px;
}

.windowOnTop {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.imageLoader {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  z-index: -1;
}

.returnButton {
  position: fixed;
  display: none;
  cursor: pointer;
  font-family: wbf3;
  background-color: white;
  border-radius: 999px;
  font-size: 1.4em;
  padding: 0.3em 4em;
  font-weight: 500;
  bottom: 1.75em;
  opacity: 0;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  transition: transform 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  color 0.15s ease-in-out;
}

.returnButton:hover {
  transform: scale(110%);
  background-color: black;
  color: white;
}

@media (max-width: 576px) {
  .returnButton {
    display: block;
  }
}

@keyframes glideIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glideDownIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(97%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}