#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  interpolate-size: allow-keywords;
}

#app, .adminPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 35px;
}

h1, h2, h3, p {
  margin: 10px;
}

.mainHeading {
  margin: -25px 0 -25px 0;
  pointer-events: none;
  user-select: none;
  height: 200px;
  object-fit: contain;
}

.mainSubtitle {
  font-weight: 500;
  font-size: 30px;
  margin: 5px 0 15px 0;
  font-family: wbf2;
}

textarea {
  resize: none;
  font-size: 17px;
}

.windowOnTop {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@keyframes glideIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glideDownIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(97%);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}