:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #121212;
  background-color: #ededed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root, button, textarea {
  font-family: wbf1, wbf2, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
  color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}