.island {
  height: 50vw;
  width: 75vw;
  position: relative;
}

.regionName {
  width: 160px;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  cursor: pointer;
  opacity: 0;
  animation: glideIn 0.3s ease-out var(--glide-delay) forwards;
}

.regionTriangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
}

.regionTriangleTop {
  top: -14px;
  border-bottom: 15px solid white;
}

.regionTriangleBottom {
  bottom: -14px;
  border-top: 15px solid white;
}

.projectIconFull {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: glideIn 0.3s ease-out var(--glide-delay) forwards;
  transform: translateY(0);
}

.projectIcon {
  width: 66px;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  transform: scale(1);
}

.projectIcon:hover {
  transform: scale(135%);
}

.projectTooltip {
  font-family: wbf3;
  font-weight: 500;
  position: absolute;
  background-color: antiquewhite;
  top: -40px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px 0 15px;
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
  animation: glideIn 0.2s ease-in-out;
}

.regionDivision {
  z-index: 2;
}

.islandImage {
  width: 95%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  animation: glideIn 0.3s ease-out;
}