.island {
  width: min(96vw, calc(94vh * 1.45));
  aspect-ratio: 1.45;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}

.regionName {
  width: 160px;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  cursor: pointer;
  opacity: 0;
  animation: iconSlideIn 0.3s ease-out var(--glide-delay) forwards;
  position: absolute;
  transform: translate(-50%, -50%);
}

.regionTriangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
}

.regionTriangleTop {
  top: -14px;
  border-bottom: 15px solid white;
}

.regionTriangleBottom {
  bottom: -14px;
  border-top: 15px solid white;
}

.projectIconFull {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.5cqw;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: iconSlideIn 0.3s ease-out var(--glide-delay) forwards;
  user-select: none;
  will-change: opacity, transform;
}

@keyframes iconSlideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 0.3cqw));
    filter: brightness(0.6);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.projectIcon, .exitIcon, .returnIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  transform: scale(1);
}

.exitIconFull {
  filter: drop-shadow(0.2cqw 0.2cqw 0.4cqw rgba(0, 0, 0, 0.8));
}

.returnIconFull {
  filter: drop-shadow(0.2cqw 0.2cqw 0.4cqw rgba(0, 0, 0, 0.4));
}

.exitIconFull, .returnIconFull {
  cursor: pointer;
  transition: transform 0.1s ease-out;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectIcon:hover {
  transform: scale(135%) translateY(-5.5%);
}

.exitIconHover, .returnIconHover {
  transform: scale(135%);
}

.exitText, .returnText {
  font-family: wbf3;
  font-weight: 600;
  font-size: 2cqw;
  letter-spacing: 0.075em;
  margin: 0;
  line-height: 1.15em;
  position: absolute;
  color: white;
  text-align: center;
  transition: color 0.1s ease-out, font-weight 0.1s ease-out, transform 0.1s ease-out;
}

.exitText {
  top: 2.75em;
}

.returnText {
  width: 8em;
  left: 1.9em;
}

.exitTextHover, .returnTextHover {
  color: #EDCF00;
  font-weight: 1000;
}

.exitTextHover {
  transform: translateY(0.35em);
}

.returnTextHover {
  transform: translateX(0.35em);
}

.projectTooltip {
  position: absolute;
  bottom: -3.7cqw;
  pointer-events: none;
  animation: glideIn 0.2s ease-in-out;
  filter: drop-shadow(0.2cqw 0.2cqw 0.3cqw rgba(0, 0, 0, 0.5));
}

.projectTooltipBox {
  position: relative;
  font-family: wbf3;
  font-weight: 600;
  font-size: 1.6cqw;
  letter-spacing: 0.05em;
  background-color: white;
  padding: 0 1.1em;
  border-radius: 999px;
  white-space: nowrap;
  z-index: 2;
}

.projectTriangle {
  width: 0;
  height: 0;
  border-left: 0.7cqw solid transparent;
  border-right: 0.7cqw solid transparent;
  position: absolute;
  top: -0.9cqw;
  border-bottom: 1cqw solid white;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.regionDivision {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.divisionButtons {
  position: relative;
  z-index: 3;
}

.regionHeader {
  font-family: wbf3;
  font-size: 2.1cqw;
  position: absolute;
  z-index: 3;
  left: 50%;
  translate: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  filter: drop-shadow(0.2cqw 0.2cqw 0.3cqw rgba(0, 0, 0, 0.5));
  top: 5.5%;
  color: white;
  animation: glideIn 0.3s ease-out;
}

.refreshButton {
  position: absolute;
  right: 10vw;
  top: 0;
}

.refreshButton:hover {
  background-color: rgba(151, 0, 0, 0.6);
  color: white;
}

.regionHeaderName {
  font-size: 1em;
  font-weight: 800;
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 999px;
  padding: 0 1.5em;
  margin: 0;
}

.divisionHeaderName {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 0.8em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1.4em 0.4em 1.4em;
  border-radius: 0 0 999px 999px;
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.divisionHeaderHidden {
  opacity: 0;
}

.islandImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.regionPresence {
  animation: glideIn 0.4s ease-out;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}