.island {
  background-color: peru;
  height: 40vw;
  width: 80vw;
  position: relative;
}

.regionName {
  width: 160px;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
}

.regionTriangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
}

.regionTriangleTop {
  top: -14px;
  border-bottom: 15px solid white;
}

.regionTriangleBottom {
  bottom: -14px;
  border-top: 15px solid white;
}