.projectWindow {
  max-width: 1000px;
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 65px;
  aspect-ratio: 2;
  justify-content: center;
  padding: 30px;
  animation: zoomIn 0.3s ease-out;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.7);
  will-change: transform;
}

.projectInfo {
  display: flex;
  width: 100%;
  font-family: wbf3;
}

.leftProjectColumn {
  width: 45%;
  text-align: left;
}

.rightProjectColumn {
  width: 52.5%;
  margin-left: 2.5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projectThumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.projectThumbnail::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.projectThumbnailCover {
  position: absolute;
  width: 200%;
  height: 200%;
  inset: 0;
  transition: transform 0.7s cubic-bezier(.43,0,.29,1) 0.2s;
  transform: translateX(-25%) translateY(-25%) rotate(-45deg);
  z-index: 4;
  filter: brightness(75%) saturate(100%) hue-rotate(-5deg);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
  will-change: transform;
}

.projectThumbnailCoverTwo {
  z-index: 3;
  filter: brightness(45%) saturate(100%) hue-rotate(-10deg);
  transition: transform 0.7s cubic-bezier(.43,0,.29,1) 0.3s;
}

.projectThumbnailCoverHidden {
  transform: translateX(53.75%) translateY(-25%) rotate(-45deg);
}

.projectThumbnailImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.projectName {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  margin: 5px 0px 1px 0px;
}

.projectDate {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.projectGroup {
  margin: 0;
  margin-top: 3px;
  line-height: 17px;
}

.projectDescription {
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 5px 0;
  line-height: 22px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.projectGallery {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  height: 18.5%;
  display: flex;
  gap: 5px;
}

.projectGalleryImage {
  width: auto;
  height: 100%;
  border-radius: 8px;
}

.projectLinks {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projectLink {
  font-size: 20px;
}

.projectLinkActive {
  background-color: lightcoral;
}

.projectLinkInactive {
  background-color: lightgray;
  pointer-events: none;
}

.projectReactionsBar {
  margin-top: 7px;
  display: flex;
  gap: 7px;
}

.contentName {
  font-family: wbf3;
}