.sideMenu {
  position: fixed;
  height: 100%;
  left: 0;
  width: 15em;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  margin: 0 0 0 1.2em;
  opacity: 0;
  pointer-events: none;
  animation: fadeInAndEnable 0.5s ease-in-out 2.75s forwards;
}

.sideMenu.firstOpen-false {
  animation-delay: 0s;
}

@media (max-width: 576px) {
  .sideMenu.listMode-false {
    pointer-events: none !important;
    animation: fadeOut 0.3s ease-in-out forwards;
  }
}

.mainHeading {
  position: fixed;
  top: 1.2em;
  left: 1.2em;
  width: min(15em, 45vw);
  user-select: none;
  aspect-ratio: 2.2;
  object-fit: cover;
  opacity: 0;
  z-index: 4;
  transition: transform 1s cubic-bezier(0.5, 0, 0.25, 1) 2s,
  width 1s cubic-bezier(0.5, 0, 0.25, 1) 2s;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.mainHeadingLoading {
  transform: translate(calc(50vw - 1.2em - 50%), calc(50vh - 1.2em - 50%));
  width: 30em;
}

.mainHeadingLoaded {
  transform: none;
}

.sideMenuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: wbf2;
  font-size: 1em;
  width: 12em;
  height: 3.5em;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0.1em 0.1em 0.15em rgba(0, 0, 0, 0.5));
  transition: transform 0.15s ease-out,
  background-color 0.15s ease-out,
  color 0.15s ease-out;
  margin-left: -0.5em;
}

.sideMenuButtonColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: absolute;
  margin: 0 0.7em;
  width: 100%;
}

.sideMenuButton img {
  width: 3.5em;
  aspect-ratio: 1;
  object-fit: cover;
}

.sideMenuButtonText {
  text-align: left;
  font-size: 1.35em;
  width: 5.2em;
  font-weight: 550;
  margin: 0 0 -0.2em 0.2em;
  transition: font-weight 0.15s ease-in-out;
  line-height: 1em;
}

.sideMenuButton:hover {
  background-color: var(--side-menu-hover-color);
  color: white;
  transform: scale(115%);
}

.sideMenuButton:hover .sideMenuButtonText {
  font-weight: 700;
}

@keyframes fadeInAndEnable {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}