.updatesBox {
  background-color: lightgreen;
  width: 100%;
  border-radius: 70px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.updatesHeader {
  margin-top: 5px;
  font-family: wbf2;
  font-size: 26px;
  margin-bottom: 0px;
}

.updateRow {
  display: flex;
  align-items: center;
  margin: 0px 15px 15px 15px;
  width: calc(100% - 30px);
}

.willUpdateCircle {
  width: 16%;
  max-width: 110px;
  background-color: aliceblue;
  border-radius: 55px;
}

.updateBubble {
  background-color: white;
  flex: 1;
  margin: 0px 12px 0px 18px;
  border-radius: 30px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  min-height: 70px;
}

.updateTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 14px solid white;
  left: -12px;
}

.updateDate {
  margin: 12px 0px 0px 15px;
  color: darkslategray;
  font-family: wbf2;
  font-size: 16px;
}

.updateText {
  margin: 0px 15px 6px 15px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
}

.updateReactionsBar {
  margin: 0px 0px 12px 15px;
  display: flex;
  gap: 7px;
}

.updateReaction {
  min-width: 50px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 100px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-out;
}

.updateReactionEmoji {
  margin: 0px 5px 1px 0px;
  font-family: wbf2;
  font-size: 14px;
}

.updateReactionNumber {
  margin: 3px 0px 0px 0px;
  font-family: wbf2;
  font-weight: 500;
  font-size: 14px;
}

.updateReactionSelected {
  background-color: black;
  color: white;
}