#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 75%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, p {
  margin: 10px;
}

.update {
  background-color: white;
  padding: 5px;
  margin: 10px;
  width: 100%;
  position: relative;
}

.updateText {
  white-space: pre-wrap;
  padding-top: 5px;
}

.updateDate {
  padding-bottom: 5px;
}

.deleteUpdate {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.reactions {
  bottom: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.reaction {
  margin-right: 5px;
  font-weight: bold;
}

textarea {
  resize: none;
}

#enterUpdate {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 10px;
}

#postUpdate {
  margin-top: 10px;
  margin-bottom: 10px;
}